@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  .banner {
    flex-direction: column-reverse;
    width: 100%;
    margin: 0 auto 50px auto;
  }
  .banner-imgg{
    width: 50%;
  }
  .logo-container {
    display: flex;
    gap:30px;
    flex-wrap: wrap;
    width: 80%; 
}
}
