/* Font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* shared styles */
:root{
    --main-text-color: rgb(58, 58, 58);
    --main-font-family: "Poppins", serif;
    --main-font-weight: 700;
    --secondary-text-color: rgb(120, 120, 133);
}

.website-font-family{
    font-family: var(--main-font-family);
    font-weight: var(--main-font-weight);
    color: var(--main-text-color);
}
.display-flex{
    display: flex;
}

.btn-primary{
    padding: 10px 24px;
    border-radius: 41px;
    border: none;
    background-color: rgb(224, 44, 109);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: var(--main-font-weight);
}

/* navbar styles */
header{
    margin: 85px 120px 70px 120px;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar>h3{
    font-size: 1.5rem;
}
.links-list{
   list-style: none; 
   gap: 30px;
}
.links, a{
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 600;
    font-size: 1rem;
}
.banner{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 70px;
}
.content>h1{
    font-size: 3.25rem;
}
.content-description{
    font-weight: 600;
    font-size: 1rem;
}

.banner-img{
    background-image: url("../images/Circle design.svg");
}
.logo{
    justify-content: center;
   
}
.logo-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 60px;
    max-width: 1110px;
    place-items: center;
    border-top:0.5px solid rgb(170, 170, 170);
    border-bottom:0.5px solid rgb(170, 170, 170);
    padding: 36px 62px;

}
